p {
  font-style: inherit;
  font-size: x-large;
  padding: 5px;
  background-color: rgba(255, 243, 238, 0.7);
  border: 1px solid #000000;
}

.base {
  margin: 10px;
}

.redLabel {
  color: darkred;
}
